<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu') %>
    </ul>
    <div class="list">
        <div id="donate" style="margin-bottom: 20px">
            <span class="wrapper" style="width: 110px">
              <img src="/images/patreon.png">
              <a href="/support-vuejs">支持 Vue.js</a>
            </span>
        </div>
        <h2>
			<% titles = {api: 'API', examples: '示例', guide: '教程'} %>
			<%- titles[type] %>
            <select class="version-select">
                <option selected>1.0</option>
                <option>0.12</option>
            </select>
        </h2>
        <ul class="menu-root">
            <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <li>
                    <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
<!--         <div id="donate">
            <span class="wrapper" style="width: 72px">
              <img src="/images/weixinpay.png">
              <a>打个赏</a>
            </span>
        </div> -->
    </div>
</div>
