<div id="sidebar-sponsors-special">
  <div class="main-sponsor">
    <!-- start: special logic for cn -->
    <%_ if (theme.platinum_sponsors_china.length) { _%>
    <span>特别赞助商</span>
    <%_ for (const sponsor of theme.platinum_sponsors_china) { _%>
    <div>
    <a href="<%- sponsor.url %>" target="_blank" rel="sponsored noopener" class="logo">
      <img id="s-<%-sponsor.name-%>" alt="<%-sponsor.name-%>">
      <script>
      (function(){
        var el = document.getElementById("s-<%-sponsor.name-%>");
        var adImg = <%-sponsor.ad_img ? JSON.stringify(url_for(`/images/${sponsor.ad_img}`)) : 'null'-%>;
        var altImg = <%-sponsor.alt_img ? JSON.stringify(url_for(`/images/${sponsor.alt_img}`)) : 'null'-%>;
        var img = "<%-url_for(`/images/${sponsor.img}`)-%>";
        el.src = adImg || (altImg && Math.random() >= 0.5 ? altImg : img);
      })()
      </script>
    </a>
    </div>
    <%_ } _%>
    <%_ } else { _%>
    <a class="become-backer" href="/support-vuejs/#special-sponsor-china">
      特别赞助商广告位
      <br>
      点击了解详情
    </a>
    <%_ } _%>
    <!-- end: special logic for cn -->
  </div>
</div>
<!--
<% if (!page.sponsors && !page.partners) { %>
<%- partial('partials/platinum_sponsors', { context: 'left' }) %>
<% } %>
-->
